<%- include('layout/header') %>
<h1 class="text-center my-4"><%= title %></h1>

<div class="d-flex justify-content-center align-items-center" style="min-height: 10vh;">
    
    <div class="box">
    
        <p><%= description %></p>
        <h3>Our Mission</h3>
        <p><%= mission %></p>
        <h3>Our Vision</h3>
        <p><%= vision %></p>
    </div>
</div>

<%- include('layout/footer') %>
